pandas
numpy
requests
websockets
python-dotenv
emoji
textblob
scikit-learn
joblib
web3 # Alchemy API bilan ishlash uchun

Quyidagi kutubxonalar loyihaning to'liq funksionalligi uchun kerak bo'lishi mumkin.
Agar ulardan foydalansangiz, # belgisini olib tashlang va o'rnating.
ccxt # Umumiy birja APIlari bilan ishlash uchun (tarixiy CEX ma'lumotlari uchun)
ta # Texnik analiz indikatorlari uchun
praw # Reddit API bilan ishlash uchun (allaqachon ishlatilmoqda, agar o'rnatilmagan bo'lsa)
